* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  font-size: 14px;
  background-color: black;
  color: lime;
}

menu li {
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  padding: auto;
}

ul li {
  text-decoration: none;
  list-style: none;
  color: black;
  padding: auto;
}

h1 {
  text-align: center;
  margin: 50px 50px 50px 50px;
}

menu {
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}

menu li {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

button {
  height: 5rem;
  width: 5rem;
  background-size: cover;
  background-color: red;
  background-image: url(./assets/images/crash.jpg);
}
#kick {
  background-image: url(./assets/images/kick.jpeg);
}

#ride { background-image: url(./assets/images/ride.jpeg);
}

#crash {background-image: url(./assets/images/crash.jpg); }

#snare {
  background-image: url(./assets/images/snare.jpg);
}

#tom-high {
  background-image: url(./assets/images/tom-high.jpeg)
}

#tom-mid {
  background-image: url(./assets/images/tom-mid.jpg);
}

#tom-low {
  background-image: url(./assets/images/tom-low.jpg);
}

#hihat {
  background-image: url(./assets/images/hihat-open.jpg);
}
