* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  font-size: 14px;
  background-color: black;
  color: lime;
}

menu li {
  text-decoration: none;
  list-style: none;
  color: ;
  padding: ;
}

ul li {
  text-decoration: none;
  list-style: none;
  color: ;
  padding: ;
}

h1 {
  text-align: center;
  margin: 50px 50px 50px 50px;
}

menu {
  margin: 50px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}

menu li {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

button {
  height: 5rem;
  width: 5rem;
  background-size: cover;
  background-color: red;
  background-image: url(/assets/images/crash.jpg);
}

/*  
#crash {
  height: 3rem;
  width: 20px;
}

#hihat {
  height: 20px;
  width: 20x;
}

#kick {
  height: 20px;
  width: 20px;
}

#ride {
  height: 20px;
  width: 20px;
}

#snare {
  height: 20px;
  width: 20px;
}

#tomHigh {
  height: 20px;
  width: 20px;
}

#tomMid {
  height: 20px;
  width: 20px;
}

#tomLow {
  height: 20px;
  width: 20px;
}
  */
